# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
pid
*.pid
*.seed
*.pid.lock

# Prisma
/prisma/migrations/*/migration.sql
/prisma/generated

# OS
.DS_Store
Thumbs.db
